@{
    ViewData["Title"] = "Home Page";
}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecotuba - Ubatuba</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <header>
        <div class="leUBA">
            <img src="img/LeUBA.png" alt="">
        </div>
    </header>
    <main>
        
        <div class="container">
            <div class="activity" id="diving">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Seg">
                <img src="img/mergulho 2.png" alt="Mergulho">
                </a>
                <p>mergulho</p>
            </div>
            <div class="activity" id="canoeing">
                <img src="img/canoagem 1.png" alt="Canoagem">
                <p>canoagem</p>
            </div>
            <div class="activity" id="climbing">
                <img src="img/caminhada 2.png" alt="Escalada">
                <p>escalada</p>
            </div>
            <div class="activity" id="cycling">
                <img src="img/ciclismo 2.png" alt="Ciclismo">
                <p>ciclismo</p>
            </div>
            <div class="activity" id="waterfall">
                <img src="img/cachoeira 1.png" alt="Cachoeirismo">
                <p>cachoeirismo</p>
            </div>
            <div class="activity" id="boat">
                <img src="img/barco-a-vela 1.png" alt="Barco">
                <p>barco</p>
            </div>
        </div>
    </main>
</body>
</html>