@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecotuba</title>
    <link rel="stylesheet" href="~/css/site2.css">
</head>
<body>
    <div id="voltar">
        <a asp-action="Index" asp-controller="Home">
            <img src="https://i.postimg.cc/k57z0hfX/seta.png">
        </a>
    </div>
    <div id="img-prin">
        <img src="https://i.postimg.cc/90y8thYc/image-4.png">
    </div>
    <div id="cards-container">
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Esc" asp-action="Corcovado">
                    <img class="im" src="https://i.postimg.cc/KcKy33X5/image-1.png">
                    <img class="nm" src="https://i.postimg.cc/YqYKbcCG/Lcorcovado.png">
                </a>
            </div>
        </div>
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Esc" asp-action="Prumirim">
                    <img class="im" src="https://i.postimg.cc/Z5Lkzr3J/Eprumirim.png">
                    <img class="nm" src="https://i.postimg.cc/vBkktXRt/Lprumirim2.png">
                </a>
            </div>
        </div>
    </div>
</body>
</html>