@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecotuba</title>
    <link rel="stylesheet" href="~/css/site2.css">
</head>
<body>
    <div id="voltar">
        <a asp-action="Index" asp-controller="Home">
            <img src="https://i.postimg.cc/k57z0hfX/seta.png">
        </a>
    </div>
    <div id="img-prin">
        <img src="https://i.postimg.cc/d0npwmxR/mergulhador.png">
    </div>
    <div id="cards-container">
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Mer" asp-action="Couves"> <img class="im" src="https://i.postimg.cc/Jhj5M1Yb/Icouves.png">
                    <img class="nm" src="https://i.postimg.cc/VkxWxSgf/Lcouves2.png">
                </a>
            </div>
        </div>
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Mer" asp-action="Anchi"> <img class="im" src="https://i.postimg.cc/MpMY30y3/Ianchieta.png">
                    <img class="nm" src="https://i.postimg.cc/sxgYY5jc/Lanchieta.png">
                </a>
            </div>
        </div>
    </div>
</body>
</html>