@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site2.css" asp-append-version="true" />
</head>
<body>
    <div class="seta">
     <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="https://i.postimg.cc/2yYcFRWS/seta.png" alt="Voltar" class="back-arrow">
    </a>
    </div>
    <div class="container">
        <div class="letra">
            <img src="https://i.postimg.cc/MKNBh0sy/leMER.png" alt="Letra" class="LetraMER">
        </div>
        <div class="content">
            <div class="description">
                <img src="https://i.postimg.cc/NGRZybX0/praMEr.png" alt="Beach" class="beach-image">
                <p>Descricao</p>
            </div>
        </div>
    </div>
</body>
</html>