@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecotuba</title>
    <link rel="stylesheet" href="~/css/site2.css">
</head>
<body>
    <div id="voltar">
        <a asp-action="Index" asp-controller="Home">
            <img src="https://i.postimg.cc/k57z0hfX/seta.png">
        </a>
    </div>
    <div id="img-prin">
        <img src="https://i.postimg.cc/v8jXDcMf/image-13.png">
    </div>
    <div id="cards-container">
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Cac" asp-action="Prumirim2">
                    <img class="im" src="https://i.postimg.cc/bNkW1Kz6/CachoRe.png">
                    <img class="nm" src="https://i.postimg.cc/9fFk50yS/image-50.png">
                </a>
            </div>
        </div>
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Cac" asp-action="Ipiranguinha">
                    <img class="im" src="https://i.postimg.cc/RhfsQHz3/CAipiranguinha.png">
                    <img class="nm" src="https://i.postimg.cc/DfbMKtb2/image-49-1.png">
                </a>
            </div>
        </div>
    </div>
</body>
</html>