@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecotuba</title>
    <link rel="stylesheet" href="~/css/site2.css">
</head>
<body>
    <div id="voltar">
        <a asp-action="Index" asp-controller="Home">
            <img src="https://i.postimg.cc/k57z0hfX/seta.png">
        </a>
    </div>
    <div id="img-prin">
        <img src="https://i.postimg.cc/wMPqJD2C/image-5.png">
    </div>
    <div id="cards-container">
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Can" asp-action="Felix">
                    <img class="im" src="https://i.postimg.cc/xTY9zT9p/Pfelix.png">
                    <img class="nm" src="https://i.postimg.cc/s2BzrMJx/Lfelix.png">
                </a>
            </div>
        </div>
        <div id="card">
            <div class="img-card">
                <a class="nav-link text-dark" asp-controller="Can" asp-action="Lazaro">
                    <img class="im" src="https://i.postimg.cc/yYPsX4d1/Plazaro.png">
                    <img class="nm" src="https://i.postimg.cc/2jdDrRnQ/Llazaro3.png">
                </a>
            </div>
        </div>
    </div>
</body>
</html>