* {
    margin: 0;
    padding: 0;
}

body {
    background: #8cc7ab;
    color: #fff;
    font-family: Arial;
}


#img-prin img {
    width: 100%;
    height: 20%;
}

.nome img {
    margin-bottom: 100px;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.img-card {
    position: relative;
}

.nm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; 
    height: auto;
}

#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#voltar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(37, 96, 138);
    margin-left: 20px;
    margin-top: 10px;
}

    #voltar img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        height: auto;
    }
